body{
    margin: 0px;
    padding: 0px;
    font-family: Merryweather, sans-serif;
    background-color: #2a2a2be0;
}

.navbar{
    display:flex;
    justify-content: space-between;
    background-color: #000;
    box-shadow: 2px solid rgb(179, 177, 177);
    padding: 5px 2vw;
}

.logo{
    height: 60px;
    width: auto;
}

.btn{
    height: 50px;
    margin: 5px;
    background-image: linear-gradient( to right, #ff512f 0%, #dd2476 51%, #ff512f 100%);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1.2em;
    padding: 5px 10px;
}

.btn:hover{
    border: 2px solid #ff6767;
    cursor: pointer;
}

